*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  /* border: 1px solid grey; */
 }

.flexPropClass{
display: flex;
align-content: space-between;
justify-content: space-between;
}

.container{
    display: flex;
    height: 100vh;
    width: 100%;
}

.navBox{
  padding: 20px 20px;
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  line-height: 20px;
}

.title{
  color: red;
  font-size: 26px;
  font-weight: bold;
  font-weight: lighter;
}

.box-film{
  background-color: gray;
  border-radius: 6px;
  width: 100vw;
  top: 53px;
  left: 0px;
  position: relative;
  flex-wrap: wrap;
  overflow-y: auto;
}

.box-film-ricerca{
  height: 75vh;
  width: calc(100vw / 5);
  margin: 10px 16px;
}
